body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.cta-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile {
    margin-left: 20px;
}

.user-profile a {
    color: #fff;
    text-decoration: none;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero {
    background-image: linear-gradient(to bottom, #f7f7f7, #fff);
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.menu-preview {
    padding: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    margin: 20px;
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.about-us {
    padding: 20px;
    background-color: #f7f7f7;
}

.about-us h2 {
    margin-top: 0;
}
